<div class="d-flex flex-column">
  <div class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Fastgram </small>
    </div>
  </div>
</div>
