<div class="jumbotron bd-highlight">
  <div class = "container text-center">

    <br>

    <div class="alert alert-primary">
      <strong>
        <h2>
          @<%= @user.name %>'s Followed:
        </h2>
      </strong>
    </div>

    <br>

    <%= render "follows/table" %>

  </div>
</div>
